<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696456715362-7188qcarqk9pb9js58hkbl8sj0d0b2sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696456715362-7188qcarqk9pb9js58hkbl8sj0d0b2sr</string>
	<key>API_KEY</key>
	<string>AIzaSyCmm6pgfxK-0raHrDa1BkIucJh-RgkYj70</string>
	<key>GCM_SENDER_ID</key>
	<string>696456715362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transpo</string>
	<key>PROJECT_ID</key>
	<string>traspo-70399</string>
	<key>STORAGE_BUCKET</key>
	<string>traspo-70399.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696456715362:ios:57aa80d8a3e82b89dc453b</string>
</dict>
</plist>